<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MangaForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <MangaForm.Properties.Settings>
            <setting name="DownloadLocal" serializeAs="String">
                <value />
            </setting>
            <setting name="Chrome" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CapInit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VolQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VolNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MangaSite" serializeAs="String">
                <value>https://unionmangas.top</value>
            </setting>
            <setting name="HentaiSite" serializeAs="String">
                <value>https://nhentai.net/g/</value>
            </setting>
        </MangaForm.Properties.Settings>
    </userSettings>
</configuration>
